//
//  DebugConfig.xcconfig
//  ExampleSwift
//
//  Created by Jonathan Scaramal on 17/12/2020.
//  Copyright © 2020 Juan Sebastian Sanzone. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Use this file as example to generate needed config files

//PX Environment - [alpha | beta | prod]
PX_ENVIRONMENT=beta

// Collector public key
PX_COLLECTOR_PUBLIC_KEY=APP_USR-88bd636f-ef87-441d-a018-def0c3a3741a

// Payer private key
PX_PAYER_PRIVATE_KEY=APP_USR-7092-080920-2d681cdbd4ddaeb15978acf4ed0cab54-611076796
