//
//  DebugConfig.xcconfig
//  ExampleSwift
//
//  Created by Jonathan Scaramal on 17/12/2020.
//  Copyright © 2020 Juan Sebastian Sanzone. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Use this file as example to generate needed config files

//PX Environment - [alpha | beta | prod]
PX_ENVIRONMENT=alpha

// Collector public key
PX_COLLECTOR_PUBLIC_KEY=TEST-7c1ff20e-e34f-431d-af28-897058dfd3e6

// Payer private key
PX_PAYER_PRIVATE_KEY=TEST-4029950389826609-100419-d20a9ae5033960d8a633781650da5dc4-835451734
